= form_for @kiosk do |f|
  = f.fields_for :slides do |slide|
    = render 'slide_fields', :f => slide
  .links
    = link_to_add_association 'Add slide', f, :slides
  = f.submit

%p
  View your kiosk here:
  = link_to kiosk_url(id: @kiosk.cpu_id), kiosk_url(id: @kiosk.cpu_id)